 <% @places.each do |place| %>
 <h2><%= simple_format(place.name) %></h2>
 <img src= "<%= place.image %>"><br>
 <h3><a href ="<%= place.url%>">地図</a></h3>


 <p>--------------------------------------------------------------------</p>

<% end %>

